<div class="container">
  <h1>
    Application Details
  </h1>

  <article>
    <div>
      <a href="/">
        Go back
      </a>
    </div>

    <div>
      <a href="/delete_job_application/<%= @the_job_application.id %>">
        Delete Job Application
      </a>
    </div>
    
  </article>

  <hr>

  <form action="/modify_job_application/<%= @the_job_application.id %>" method="post">


  <!--Date-->
  <div class="mb-3">
    <label for="application_date_box" class="form-label">When did you apply?</label>

    <input type="date" id="application_date_box" name="job_application[application_date]" value="<%= @the_job_application.application_date %>" class="form-control">
  </div>


  <!--Job Title-->
  <div class="mb-3">
    <label for="job_title_box" class="form-label">Job Title</label>

    <input type="text" id="job_title_box" name="job_application[job_title]" value="<%= @the_job_application.description.job_title %>" class="form-control">
  </div>


  <!--Company (name in Company model, not in job application)-->
  <div class="mb-3">
    <label for="company_name_box" class="form-label">Company</label>

    <input type="text" id="company_name_box" name="job_application[company_name]" value="<%= @the_job_application.description.company.name %>"class="form-control">
  </div>

  <!--What kind of job is this>-->
  <div class="mb-3">
    <label for="category_box" class="form-label">What kind of job is this? (e.g. Full-time, Part-time)</label>

    <input type="text" id="category_box" name="job_application[category]" value="<%= @the_job_application.description.category %>"class="form-control">

  </div>

  <!--Start Date-->
  <div class="mb-3">
    <label for="start_date_box" class="form-label">Start Date (if known)</label>

    <input type="date" id="start_date_box" name="job_application[start_date]" value="<%= @the_job_application.description.start_date %>"class="form-control">

  </div>


  <!--Application status (defaulting to Pending)-->

  <div class="mb-3">
    <label for="status_box" class="form-label">Status</label>

    <input type="text" id="status_box" name="job_application[status]" value="<%= @the_job_application.status %>" class="form-control">
  </div>

  <!--Interview Date and Time-->

  <div class="mb-3">
    <label for="interview_date_box" class="form-label">Interview Date and Time (optional)</label>

    <input type="datetime-local" id="interview_date_box" name="job_application[interview_date]" value="<%= @the_job_application.interview_date&.strftime('%Y-%m-%dT%H:%M') %>" class="form-control">

  </div>

  <button type="submit" class="btn btn-primary">Update Application</button>


</form>

<%# NOTE: unnecessary spacing  %>





</div>
